<section style="overflow: hidden">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TapTrack!</a>
      <button (click)="home()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
          </svg>
        </span>
      </button>
    </div>
  </nav>

  <div class="statistics-container">
    <!-- Fortschritt -->
    <div class="level-container">
      <div class="progress-circle">
        <div class="level-number">{{ level }}</div>
        <svg>
          <circle cx="50%" cy="50%" r="45%" class="progress-bg"></circle>
          <circle
            cx="50%"
            cy="50%"
            r="45%"
            class="progress"
            [style.strokeDasharray]="282"
            [style.strokeDashoffset]="282 * (1 - xp / xpToNextLevel)"
          ></circle>
        </svg>
      </div>
      <p>XP: {{ xp }} / {{ xpToNextLevel }}</p>
    </div>

    <!-- Zusammenfassung -->
    <div class="summary">
      <h3>Statistiken</h3>
      <p><strong>Bestes Geschwindigkeit:</strong> {{ bestSpeed }} WPM</p>
      <p><strong>Fehler insgesamt:</strong> {{ totalErrors }}</p>
      <p><strong>Meist falscher Buchstabe:</strong> {{ mostWrongKey }}</p>
      <p><strong>Durchschnittliches Speed:</strong> {{ averageSpeed }} WPM</p>
    </div>

    <!-- Liste -->
    <div class="sessions">
      <h3>Gespeicherte Sessions</h3>
      <div *ngFor="let session of allSessions" class="session">
        <p><strong>Schwierigkeit:</strong> {{ session.difficulty }}</p>
        <p><strong>Speed:</strong> {{ session.speed }} WPM</p>
        <p><strong>Fehler:</strong> {{ session.errors }}</p>
        <p><strong>Datum:</strong> {{ session.timestamp | date: 'medium' }}</p>
      </div>
    </div>
  </div>

</section>
