/* You can add global styles to this file, and also import other style files */
* {
  background-color: rgb(33, 33, 33);
  color: white;
}




button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.d-none {
  display: none;
}

.bg-white-text-black {
  background-color: white;
  color: black;
}

.color-white {
  color: white;
}
.color-black {
  color: black;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.color-green {
  color: green;
}
.color-yellow {
  color: yellow;
}
.color-purple {
  color: purple;
}
.color-orange {
  color: orange;
}
.color-pink {
  color: pink;
}
.color-gray {
  color: gray;
}
.color-brown {
  color: brown;
}

.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
.bg-purple {
  background-color: purple;
}
.bg-orange {
  background-color: orange;
}
.bg-pink {
  background-color: pink;
}
.bg-gray {
  background-color: gray;
}
.bg-brown {
  background-color: brown;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.cursor-wait {
  cursor: wait;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-help {
  cursor: help;
}

.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}

.cursor-move {
  cursor: move;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}

.cursor-resize-n {
  cursor: n-resize;
}
.cursor-resize-e {
  cursor: e-resize;
}
.cursor-resize-s {
  cursor: s-resize;
}
.cursor-resize-w {
  cursor: w-resize;
}
.cursor-resize-ne {
  cursor: ne-resize;
}
.cursor-resize-nw {
  cursor: nw-resize;
}
.cursor-resize-se {
  cursor: se-resize;
}
.cursor-resize-sw {
  cursor: sw-resize;
}

.cursor-all-scroll {
  cursor: all-scroll;
}
